django==1.9.1
django-bootstrap3==8.1.0
django-crispy-forms==1.5.0
django-registration-redux==1.3
requests==2.6.0
django-extensions 
ipython[notebook]
applicationinsights==0.10.0
cortanaanalytics==0.0.4
django-model-utils
numpy
pandas
django-pandas
beautifulsoup4
jinja2
PyYAML
SQLAlchemy
South
amqplib